@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Handlee", cursive;
}

a.active {
  background: #00000010;
}

@theme {
  --color-gradient-one: oklch(80.9% 0.105 251.813);
  --color-gradient-two: oklch(90.1% 0.076 70.697);
  --color-gradient-three: oklch(82.3% 0.12 346.018);
  --color-progress-bar: oklch(80.9% 0.105 251.813);
  --color-highlight: oklch(94.5% 0.129 101.54);
  --color-blackAndWhite: #fff;
  --color-my-gray: #6a7282;
  --color-my-gray-2: #e5e7eb;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-gradient-one: oklch(80.9% 0.105 251.813);
  --color-gradient-two: oklch(90.1% 0.076 70.697);
  --color-gradient-three: oklch(82.3% 0.12 346.018);
  --color-progress-bar: oklch(80.9% 0.105 251.813);
  --color-highlight: oklch(94.5% 0.129 101.54);
  --color-blackAndWhite: #fff;
  --color-my-gray: #6a7282;
  --color-my-gray-2: #e5e7eb;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-gradient-one: oklch(42.4% 0.199 265.638);
  --color-gradient-two: oklch(64.6% 0.222 41.116);
  --color-gradient-three: oklch(45.9% 0.187 3.815);
  --color-progress-bar: oklch(55.3% 0.195 38.402);
  --color-highlight: oklch(68.1% 0.162 75.834);
  --color-blackAndWhite: #000;
  --color-my-gray: #d1d5dc;
  --color-my-gray-2: #364153;
}

.no-outline {
  outline: transparent !important;
}
