@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Handlee", cursive;
}

a.active {
  background: #00000010;
}
.animate-bounce {
  animation-duration: 3s;
}
